
.Banner_head{
    margin-top: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1
{
    font-family: 'Alegreya', serif;
}